/* BOILERPLATE INITIALISATION */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

article ol,
article ul {
    list-style-position: inside;
}

a {
    all: unset;
    /* Places underlines below the descenders */
    text-underline-position: under;


    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;

    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    all: unset;
}

ul {
    all: unset;
    list-style-type: none;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* COLOURS */

:root {
    --primary: rgb(236, 230, 208);
    --accent: rgb(120, 159, 138);
    --black: rgb(51, 51, 51);
    --white: rgb(247, 247, 247);
}

body {
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;

}

main {
    all: unset;
}

/* GENERIC SECTIONS */

header {
    position: sticky;
    top: 0px;
    height: 64px;
    border-bottom: 1px solid var(--black);
    padding: 8px 32px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    z-index: 1;
}

/* SPECIFIC SECTIONS */

#hero-section {
    height: fit-content;
}

#hero-section>*:first-child {
    border-right: 1px solid var(--black);
}

#hero-section>div.text {
    padding: var(--padding);
    justify-content: center;
}

/* .hero-img.desktop {
    height: calc(100vh - 64px);
} */

.ribbon {
    height: 32px;
    background-color: var(--accent);
    color: var(--white);
    font-size: 1rem;
    max-width: 100vw;
    display: flex;
    align-items: center;
}

#text-roller {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#event-section {
    height: calc(100vh - 96px);
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 1px;
    background-color: var(--black);
}

.parent>div {
    background-color: var(--primary);
}

.basic-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.grid-img{
    border: 1px solid var(--black);
    cursor: pointer;
}

.grid-img:hover{
    transform: scale(1.1);
}

.span{
    grid-column: span 2;
}
.div1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 64px;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 1 / 3 / 2 / 4;
}

.div6 {
    grid-area: 1 / 4 / 2 / 5;
}

.div7 {
    grid-area: 2 / 4 / 3 / 5;
}

.div8 {
    grid-area: 1 / 5 / 2 / 6;
}

.div9 {
    grid-area: 2 / 5 / 3 / 6;
}

.div10 {
    grid-area: 2 / 6 / 3 / 7;
}

.div11 {
    grid-area: 1 / 6 / 2 / 7;
}

footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
}

small {
    opacity: 0.68;
}

/* GENERIC CLASSES */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 96px;
    width: auto;
}

/* ALIGNMENTS */

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    text-align: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* GAPS */

.gap-24 {
    gap: 24px;
}

.gap-16 {
    gap: 16px;
}

/* GENERIC IMG CLASSES */

.img-cover {
    object-fit: cover;
}

/* GENERIC TEXT CLASSES */

* {
    text-decoration-color: var(--accent);
}

.pointer {
    cursor: pointer;
}

.text-secondary {
    opacity: 0.68;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.font-34 {
    font-size: 3.4rem;
}

.font-092 {
    font-size: 0.92rem;
}

.font-088 {
    font-size: 0.88rem;
}

.font-072 {
    font-size: 0.72rem;
}

/* MARGINS */

.mg-b-16 {
    margin-bottom: 16px;
}

.mg-b-8 {
    margin-bottom: 8px;
}

/* SPANS */


.max-span {
    width: 100%;
}

.twothird-span {
    width: 66%;
}

.half-span {
    width: 50%;
}

.third-span {
    width: 33%;
}

.quart-span {
    width: 25%;
}

.height-100 {
    height: 100%;
}

/* SPECIAL CLASSES */

/* TRANSITION CLASSES */

.transition-all {
    transition: transform .85s cubic-bezier(.23, 1, .32, 1), background .3s, border .3s, border-radius .3s, box-shadow .3s, color .4s;
}

/* ANIMATIONS */

/* MEDIA QUERIES */

@media (max-width: 600px) {

    :root {
        --padding: 16px;
    }

}

@media (min-width:600px) {

    :root {
        --padding: 64px;
    }
}

@media (orientation: portrait) {
    .dynamic-flex.flex {
        flex-direction: column;
    }

    .dynamic-flex-reverse.flex {
        flex-direction: column-reverse;
    }

    .dynamic-span.half-span {
        width: 100%;
        height: 50%;
    }

    #hero-section>div.text {
        justify-content: flex-start;
        height: fit-content;
    }

    .desktop {
        display: none;
    }

    img.mobile {
        display: block;
        height: 40vh;
    }
}

@media (orientation: landscape) {

    img.desktop {
        display: block;
        height: 100%;
    }

    .mobile {
        display: none;
    }

    #hero-section {
        height: calc(120vh - 64px);
    }
}